@model WSTowersOffice.Api.Models.EmployeeModel
@{
    ViewBag.Title = "Create Employee";
}
@using (Html.BeginForm())
{
    <center>
        <div style="width:500px;margin-top:100px">
            <div class="jumbotron jumbotron-custom jumbotron-rounded align-content-center">
                <div class="card card-rounded">
                    <h2 class="card-header" style="color:#000000">Adicionar Fucionário</h2>
                    <center>
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">

                            <h5>@Html.ValidationSummary(true, "", new { @class = "text-danger" })</h5>

                            <h4 style="color:#000000">@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })</h4>

                            <div>
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nome", required = "required" } })
                                @*@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })*@
                            </div>

                        </div>

                        <h5>@Html.ValidationSummary(true, "", new { @class = "text-danger" })</h5>

                        <h4 style="color:#000000">@Html.LabelFor(model => model.CPF, htmlAttributes: new { @class = "control-label" })</h4>

                        <div>
                            @Html.EditorFor(model => model.CPF, new { htmlAttributes = new { @class = "form-control", @placeholder = "CPF", required = "required" } })
                            @*@Html.ValidationMessageFor(model => model.CPF, "", new { @class = "text-danger" })*@
                        </div>


                        <h5>@Html.ValidationSummary(true, "", new { @class = "text-danger" })</h5>

                        <h4 style="color:#000000">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                        </h4>

                        <div>
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email", type = "email", required="required"} })
                            @*@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })*@
                        </div>


                        <h5 class="mr-5">@Html.ValidationSummary(true, "", new { @class = "text-danger" })</h5>

                        <h4 style="color:#000000">@Html.LabelFor(model => model.QuantityFamilyPersons, htmlAttributes: new { @class = "control-label" })</h4>

                        <div class="mb-3">
                            @Html.EditorFor(model => model.QuantityFamilyPersons, new { htmlAttributes = new { @class = "form-control", @placeholder = "QuantityFamilyPersons", required = "required" } })
                            @*@Html.ValidationMessageFor(model => model.QuantityFamilyPersons, "", new { @class = "text-danger" })*@
                        </div>

                    </center>
                </div>
                <div class="mt-3">
                    @if (!ViewBag.SetImage)
                    {
                        <input type="submit" value="Send" class="btn btn-outline-success" />
                    }
                    else
                    {
                        <input value="Send" class="btn btn-success" data-toggle="modal" data-target="#addImageModal" />
                    }

                </div>
            </div>
        </div>
    </center>
}

<!-- Modal Set Icon -->
<div class="modal" id="addImageModal">
    <!-- Set Icon Modal Header-->
    <div class="modal-header">
        Adicione uma imagem de perfil do Funcionário!
    </div>
    @using (Html.BeginForm((string)ViewBag.Action, (string)ViewBag.Controller, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <!-- Set Icon Modal Body -->
        <div class="modal-body">
            <img id="output" class="img-icon border-warning" width="50%" height="50%" src="@ViewBag.ImageLink" style="max-width: 18rem;border-width: 0px;cursor: pointer;" />
            <input type="file" id="Arquivos" name="Arquivos" multiple onchange="" accept="image/*" />
            <script>
                var loadFile = function (event) {
                    var output = document.getElementById('output');
                    output.src = URl.createObjectURL(event.targetfiles[0]);
                    output.onload = function () { URL.revokeObjectURL(output.src) }
                }
            </script>
        </div>

        <!-- Set Icon Modal Footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger add" data-dismiss="modal" style="margin-right: -2.5%;" onclick="location.href='/Employees/List'">Não escolher nenhuma</button>
            <input type="submit" value="Enviar Arquivo" class="btn btn-outline-success add" />
        </div>
    }
</div>