@model WSTowersOffice.Api.Models.EmployeeModel

@{
    ViewBag.Title = "Delete";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <center>
        <div style="width:600px;height:600px;align-content:center;margin-top:100px">

            <div class="jumbotron jumbotron-custom jumbotron-rounded">

                <div class="card card-rounded">

                    <h3 class="card-header" style="color:#000000">Funcionário</h3>

                    <div class="card-body" style="color:#000000">

                        <button class="btn btn-outline-primary disabled btn-employee-delete btn-block">
                            <h4 style="color:#000000">
                                @Html.DisplayNameFor(model => model.Name)
                            </h4>

                            <h5>
                                @Html.DisplayFor(model => model.Name)
                            </h5>
                        </button>
                        <button class="btn btn-outline-primary disabled btn-employee-delete btn-block">
                            <h4 style="color:#000000">
                                @Html.DisplayNameFor(model => model.CPF)
                            </h4>

                            <h5>
                                @Html.DisplayFor(model => model.CPF)
                            </h5>
                        </button>

                        <button class="btn btn-outline-primary disabled btn-employee-delete btn-block">
                            <h4 style="color:#000000">
                                @Html.DisplayNameFor(model => model.Email)
                            </h4>

                            <h5>
                                @Html.DisplayFor(model => model.Email)
                            </h5>
                        </button>

                        <button class="btn btn-outline-primary disabled btn-employee-delete btn-block">
                            <h4 style="color:#000000">
                                @Html.DisplayNameFor(model => model.QuantityFamilyPersons)
                            </h4>

                            <h5>
                                @Html.DisplayFor(model => model.QuantityFamilyPersons)
                            </h5>
                        </button>
                    </div>
                </div>
                <button type="submit" value="Delete" class="btn btn-custom btn-danger mt-3" style="padding:10px">Apagar</button>
                <button onclick="location.href='/Employees/List'" class="btn btn-warning btn-custom mt-3" style="padding:10px">Voltar</button>
            </div>
        </div>
    </center>

}