@using WSTowersOffice.Api.Models;
@model IEnumerable<EmployeeModel>

@{
    ViewBag.Title = "Index";
}

<h2 class="jumbotron jumbotron-custom">Funcionários</h2>

<table class="table table-hover table-bordered table-custom table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProfileImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityFamilyPersons)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                <button class="btn btn-outline-light btn-custom" onclick="location.href='@Url.Action("Create", "Employees", null)'">Adicionar Funcionário</button>
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img width="45px" src="@item.ProfileImage.ImageUrl" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CPF)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuantityFamilyPersons)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <button class="btn btn-primary btn-custom" onclick="location.href='@Url.Action("Edit", "Employees", new { id = item.ID })'">Editar</button>
                    <button class="btn btn-warning btn-custom" onclick="location.href='@Url.Action("List", "Employees", new { employee_id = item.ID })'">Detalhes</button>
                    <button class="btn btn-danger btn-custom" onclick="location.href='@Url.Action("Delete", "Employees", new { id = item.ID })'">Deletar</button>
                </td>
            </tr>
        }
    </thead>
</table>

@if (ViewBag.ContainEmployee)
{
    <!-- Modal Add User -->
    <div class="modal" id="showEmployeeModal">
        @{
            EmployeeModel employee = ViewBag.Employee;
        }
        <!-- Add user Modal Body -->
        <div class="modal-body">
            <center>
                <div class="card" style="width:400px">

                    <img class="card-img-top img-employee-modal" src="@employee.ProfileImage.ImageUrl" alt="Card image">

                    <div style="text-align: right;">
                        <button type="button" class="btn btn-danger btn-custom btn-rounded" data-dismiss="modal">X</button>
                    </div>
                    <center>
                        <div class="card card-body">
                            <h2 class="btn btn-outline-dark disabled">@employee.Name</h2>

                            <dl class="dl-horizontal">

                                <dd class="btn btn-outline-dark disabled" style="width:19em">
                                    @Html.DisplayFor(model => employee.Email)
                                </dd>

                                <dd class="btn btn-outline-dark disabled">
                                    @Html.DisplayFor(model => employee.CPF)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.QuantityFamilyPersons)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => employee.QuantityFamilyPersons)
                                </dd>

                            </dl>
                            <a href="/Employees/Edit/@employee.ID" class="btn btn-primary">Editar perfil</a>
                        </div>
                    </center>
                </div>
            </center>
        </div>
    </div>

}