@using WSTowersOffice.Api.Models;
@model IEnumerable<EmployeeModel>

@{
    ViewBag.Title = "Index";
}

<h2 class="jumbotron jumbotron-custom">Index</h2>

<table class="table table-hover table-bordered table-custom table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProfileImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityFamilyPersons)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                <button class="btn btn-outline-light btn-custom" onclick="location.href='@Url.Action("Create", "Employees", null)'">Novo Funcionário</button>
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img width="60px" src="@item.ProfileImage.ImageUrl" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CPF)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuantityFamilyPersons)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <button class="btn btn-primary btn-custom" onclick="location.href='@Url.Action("Edit", "Employees", new { id = item.ID })'">Editar</button>
                    <button class="btn btn-warning btn-custom" onclick="location.href='@Url.Action("List", "Employees", new { employee_id = item.ID })'">Detalhes</button>
                    <button class="btn btn-danger btn-custom" onclick="location.href='@Url.Action("Delete", "Employees", new { id = item.ID })'">Deletar</button>
                </td>
            </tr>
        }
    </thead>
</table>

@if (ViewBag.ContainEmployee)
{
    <!-- Modal Add User -->
    <div class="modal" id="showEmployeeModal">
        @{
            EmployeeModel employee = ViewBag.Employee;
        }
        <!-- Add user Modal Body -->
        <div class="modal-body">
            <center>
                <div class="card" style="width:400px">
                    <img class="card-img-top" src="@employee.ProfileImage.ImageUrl"  alt="Card image" style="height:350px">
                    <div style="text-align: right;"><button type="button" class="btn btn-outline-danger add" data-dismiss="modal" style="max-width: 45px;text-align: right;margin: 0.5rem;margin-top: -658px;">X</button></div>
                    <div class="card-body">
                        <h4 class="card-title">@employee.Name</h4>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Email)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => employee.Email)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.CPF)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => employee.CPF)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.QuantityFamilyPersons)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => employee.QuantityFamilyPersons)
                            </dd>

                        </dl>
                        <a href="/Employees/Edit/@employee.ID" class="btn btn-primary">Editar perfil</a>
                    </div>
                </div>
            </center>
        </div>
    </div>

}