<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - WS Towers Office</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @if (ViewBag.ModalID != null)
    {
        <!-- Chamada do modal -->
        <script type="text/javascript">
            function onLoad() {
                $('@ViewBag.ModalID').modal('show');
            }
        </script>
    }
</head>
<body onload="onLoad()">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">

        <a href="@Url.Action("Index","Home")">
            <img src="~/Resources/ws_towers_office_azul.png" alt="WS TOWERS OFFICE" style="width:40px;" />
        </a>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    @Html.ActionLink("Times", "", "Teams", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Funcionários", "", "Employees", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Sobre", "About", "Home", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Ajuda", "", "Help", null, new { @class = "nav-link" })
                </li>
            </ul>
        </div>
    </nav>



    <div class="container body-content">
        <!--Esse codigo rederiza o resto da pagina que será definido em outro arquivo cshtml -->
        @RenderBody()
        <!-- Após rederizar a tela o código seguinte será rederizado -->
        <hr />
        <center>
            <footer>
                <h5>&copy; @DateTime.Now.Year - WS Corp.</h5>
            </footer>
        </center>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
