
@model IEnumerable<WSTowersOffice.Api.Models.TeamModel>

@{
    ViewBag.Title = "Gerenciar Times";
}

<h2>Gerenciar Times</h2>

<p>
    @Html.ActionLink("Criar novo time", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Icon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <img src="@item.Icon.ImageUrl" />
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Gerenciar Time", $"Management", new { team_name = item.Name }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.ID }) |
                @Html.ActionLink("Deletar", "Delete", new { team_name = item.Name })
            </td>
        </tr>
    }
</table>
