@using WSTowersOffice.Api.Models
@model TeamModel

@{
    ViewBag.Title = "Gerenciar Time";
}

<center><h2>@Model.Name</h2></center>
<hr />
<table class="table">
    <tr>
        <th>
            Profile Image
        </th>
        <th>
            Nome
        </th>
        <th>
            CPF
        </th>
        <th>
            Pessoas na Família
        </th>
        <th>
            E-mail
        </th>
        <th>
            Data de adição
        </th>
    </tr>

    @foreach (TeamEmployeeModel item in ViewBag.TeamEmployees)
    {
        <tr>
            <td>
                <img src="" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.CPF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.QuantityFamilyPersons)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddDate)
            </td>
            <td>
            </td>
        </tr>
    }

</table>

<!-- Aux Buttons-->
<button type="button" class="btn btn-outline-primary add" data-target="#addIconModal" data-toggle="modal" style="margin-right: -2.5%;">Definir Ícone</button>
<button type="button" class="btn btn-outline-success add" data-target="#addUserModal" data-toggle="modal" style="margin-right: -2.5%;">Adicionar Funcionário</button>
<button type="button" class="btn btn-outline-success add" data-target="#addRoleModal" data-toggle="modal" style="margin-right: -2.5%;">Adicionar Função</button>

<!-- Modal Set Icon -->
<div class="modal" id="addIconModal">
    <!-- Set Icon Modal Header-->
    <div class="modal-header">
        Adicione um ícone ao Time!
    </div>
    @using (Html.BeginForm($"Management/AddIcon/{Model.ID}", "Teams", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <!-- Set Icon Modal Body -->
        <div class="modal-body">
            <img id="output" class="img-icon border-warning" width="50%" height="50%" src="@ViewBag.ImageLink" style="max-width: 18rem;border-width: 0px;cursor: pointer;" />
            <input required type="file" id="Arquivos" name="Arquivos" multiple onchange="" accept="image/*" />
            <script>
                var loadFile = function (event) {
                    var output = document.getElementById('output');
                    output.src = URl.createObjectURL(event.targetfiles[0]);
                    output.onload = function () { URL.revokeObjectURL(output.src) }
                }
            </script>
        </div>

        <!-- Set Icon Modal Footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger add" data-dismiss="modal" style="margin-right: -2.5%;">Continuar aqui</button>
            <input type="submit" name="submit" value="Enviar Arquivo" class="btn btn-outline-success add" />
        </div>
    }
</div>

<!-- Modal Add User -->
<div class="modal" id="addUserModal">


    <!-- Header -->
    <div class="modal-header">
        Adicione um Funcionário
    </div>


    <!-- Add user Form -->
    @using (Html.BeginForm($"Management/AddEmployee", "Teams", FormMethod.Post))
    {
        <!-- Add user Modal Body -->
        <div class="modal-body">
            @Html.AntiForgeryToken();
            @Html.Hidden("team_name", (string)ViewBag.TeamName)
            @Html.Hidden("post", Request.Url.AbsoluteUri)
            <div class="form-group">
                <div class="col-md-10">
                    @Html.DropDownList("employee_id", (IEnumerable<SelectListItem>)ViewBag.Employees, new { required = true });
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.DropDownList("role_name", (IEnumerable<SelectListItem>)ViewBag.TeamRoles, new { required = true });
                    <button type="button" class="btn btn-outline-success add" data-target="#addRoleModal" data-toggle="modal" style="margin-right: -2.5%;">Criar Função</button>
                </div>
            </div>

        </div>

        <!-- Add user Modal Footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger add" data-dismiss="modal" style="margin-right: -2.5%;">Continuar aqui</button>
            <input type="submit" name="submit" value="Adicionar Funcionário" class="btn btn-outline-success add" />
        </div>
    }
</div>

<!-- Modal Add User -->
<div class="modal" id="addRoleModal">

    <!-- Header -->
    <div class="modal-header">
        Adicione um Funcionário
    </div>

    <!-- Add user Form -->
    @using (Html.BeginForm($"Management/CreateRole", "Teams", FormMethod.Post,new { form="CreateRole"}))
    {
        RoleModel roleModel = new RoleModel();
        <!-- Add user Modal Body -->
        <div class="modal-body">
            <div class="form-group">
                <div class="col-md-10">
                    <input class="form-control text-box single-line" data-val="true" data-val-length="O campo Description deve ser uma cadeia de caracteres com um comprimento máximo de 0." data-val-length-max="0" name="name" placeholder="Nome" required type="text" value="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input class="form-control text-box single-line" data-val="true" data-val-length="O campo Description deve ser uma cadeia de caracteres com um comprimento máximo de 0." data-val-length-max="0" name="description" placeholder="Descrição" required type="text" value="">
                </div>
            </div>
        </div>

        <!-- Add user Modal Footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger add" data-dismiss="modal" style="margin-right: -2.5%;">Não adicionar</button>
          <input type="submit" name="team_name" value="@Model.Name" class="btn btn-outline-success add"/>
        </div>
    }
</div>