@using WSTowersOffice.Api.Models
@model TeamModel

@{
    ViewBag.Title = "Gerenciar Time";
}

<h2>Manage Team</h2>

<div>Team: <img src="" width="4rem">@ViewBag.TeamName</div>
<button type="button" class="btn btn-outline-primary add" data-target="#addIconModal" data-toggle="modal" style="margin-right: -2.5%;">Configurar ícone</button>
<button type="button" class="btn btn-outline-success add" data-target="#addUserModal" data-toggle="modal" style="margin-right: -2.5%;">Adicionar Funcionário</button>
<button type="button" class="btn btn-outline-success add" data-target="#addRoleModal" data-toggle="modal" style="margin-right: -2.5%;">Adicionar Função</button>


<table class="table">
    <tr>
        <th>
        </th>
        <th>

        </th>
        <th>

        </th>
        <th>

        </th>
        <th>

        </th>
        <th>
        </th>
    </tr>

    @foreach (TeamEmployeeModel item in ViewBag.TeamEmployees)
    {
        <tr>
            <td>
                <img src="" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.CPF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.QuantityFamilyPersons)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddDate)
            </td>
            <td>
              
            </td>
        </tr>
    }

</table>

<!-- Modal Set Icon -->
<div class="modal" id="addIconModal">
    <!-- Set Icon Modal Header-->
    <div class="modal-header">
        Adicione um ícone ao Time!
    </div>
    @using (Html.BeginForm((string)ViewBag.Action, (string)ViewBag.Controller, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <!-- Set Icon Modal Body -->
        <div class="modal-body">
            <img id="output" class="img-icon border-warning" width="50%" height="50%" src="@ViewBag.ImageLink" style="max-width: 18rem;border-width: 0px;cursor: pointer;" />
            <input type="file" id="Arquivos" name="Arquivos" multiple onchange="" accept="image/*" />
            <script>
                var loadFile = function (event) {
                    var output = document.getElementById('output');
                    output.src = URl.createObjectURL(event.targetfiles[0]);
                    output.onload = function () { URL.revokeObjectURL(output.src) }
                }
            </script>
        </div>

        <!-- Set Icon Modal Footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger add" data-dismiss="modal" style="margin-right: -2.5%;">Continuar aqui</button>
            <input type="submit" name="submit" value="Enviar Arquivo" class="btn btn-outline-success add" />
        </div>
    }
</div>

<!-- Modal Add User -->
<div class="modal" id="addUserModal">


    <!-- Header -->
    <div class="modal-header">
        Adicione um Funcionário
    </div>


    <!-- Add user Form -->
    @using (Html.BeginForm($"Management/AddEmployee", "Team", FormMethod.Post))
    {
        <!-- Add user Modal Body -->
        <div class="modal-body">
            @Html.AntiForgeryToken();
            @Html.Hidden("team_name", (string)ViewBag.TeamName)
            @Html.Hidden("post", Request.Url.AbsoluteUri)
            <div class="form-group">
                <div class="col-md-10">
                    @Html.DropDownList("employee_id", (IEnumerable<SelectListItem>)ViewBag.Employees);
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.DropDownList("role_name", (IEnumerable<SelectListItem>)ViewBag.TeamRoles);
                    <button type="button" class="btn btn-outline-success add" data-target="#addRoleModal" data-toggle="modal" style="margin-right: -2.5%;">Criar Função</button>
                </div>
            </div>

        </div>

        <!-- Add user Modal Footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger add" data-dismiss="modal" style="margin-right: -2.5%;">Continuar aqui</button>
            <input type="submit" name="submit" value="Adicionar Funcionário" class="btn btn-outline-success add" />
        </div>
    }
</div>

<!-- Modal Add User -->
<div class="modal" id="addRoleModal">


    <!-- Header -->
    <div class="modal-header">
        Adicione um Funcionário
    </div>


    <!-- Add user Form -->
    @using (Html.BeginForm($"Management/CreateRole", "Team", FormMethod.Post))
    {
        <!-- Add user Modal Body -->
        <div class="modal-body">
            @Html.AntiForgeryToken();
            @Html.Hidden("team_name", Model.Name)
            @Html.Hidden("post", Request.Url.AbsoluteUri)

            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorForModel("RoleModel", "Name");
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorForModel("RoleModel", "Description");
                </div>
            </div>

        </div>

        <!-- Add user Modal Footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger add" data-dismiss="modal" style="margin-right: -2.5%;">Continuar aqui</button>
            <input type="submit" name="submit" value="Adicionar Funcionário" class="btn btn-outline-success add" />
        </div>
    }
</div>